/**
 * Basic typography style for copy text
 */
body {
  color: colour(foreground);
  font: normal 125% / 1.4 $text-font-stack;
}

i.fas::before {
    background: none;
}

h1,h2,h3,h4 {
    color: colour(brand-colour);
    margin: 0;
    padding: 0;
}
