.cv {
    .header {
        padding: 1em;
    }

    .name, .contact-info, .links {
        margin: 0 auto;
        text-align: center;
    }

    .contact-info, .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sec-detail {
        font-size: 0.8em;
        color: colour(brand-accent-b);
        float: right;
    }

    h2 {
        border-bottom: 0.2em solid colour(brand-accent-b);
    }

    h4 {
        padding: 0.2em 1em;
    }

    ul {
        margin: 0 auto;
        padding: 0 2em;
    }

    .skills p {
        display: flex;
        justify-content: space-between;
    }
}
