// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.introduction {
    border: 1px solid colour(brand-accent-b);
    padding: 1em;
}

.post-section {
    margin: 2em 0;

    h3 {
        text-decoration: underline;

    }

    .date {
        color: colour(brand-accent-b);
        font-size: 0.4em;
    }

    .page-overview {

        padding: 2em;

        &:not(:last-child) {
            border-bottom: 1px solid colour(brand-accent-b);
        }
    }

}

