// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', sans-serif !default;
$text-font-stack-title: 'Oswald', sans-serif !default;
$text-font-stack-body: 'Josefin Slab', serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Source Code Pro', monospace !default;

// Light Theme
$colours: (
    brand-colour: #006e90,
    brand-link-a: #41bbd9,
    brand-link-b: #adcad6,
    brand-accent-a: #f18f01,
    brand-accent-b: #99c24d,

    mid-grey: #4A7D93,
    pal-grey: #D6e4ea,

    background: #F9FbFc,
    foreground: #1c2f37,

    todo-colour: red,
    done-colour: green
);
$colours-dark:(
    brand-colour: #adcad6,
    brand-link-a: #41bbd9,
    brand-link-b: #006e90,
    brand-accent-a: #f18f01,
    brand-accent-b: #99c24d,

    background: #1c2f37,
    foreground: #F9FbFc,

    todo-colour: red,
    done-colour: green
);

:root {
    @each $name, $colour in $colours {
        --colour-#{$name}:#{$colour};
    }
    --theme: 'light';
}
[data-theme = "dark"] {
    @each $name, $colour in $colours-dark {
        --colour-#{$name}:#{$colour};
    }
    --theme: 'dark';
}

@function colour($colour-name) {
    @return var(--colour-#{$colour-name});
}

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/' !default;
