{{ define "main" }}
<p style="text-align: center;">
<a href='{{ $.Param "cvpath" }}'>
    <i class="fas fa-download"></i> Download Latest CV</a>
</p>
<article itemprop="articleBody" id="content" class="cv">
    {{ .Content }}
</article>
{{ end }}
