{{ define "main" }}

<h1>{{.Title}}</h1>

{{ if .Data.Pages }}
{{ if .Content }}
<div class="introduction">{{.Content}}</div>
{{ end }}
<div class="post-section">
                {{ range .Data.Pages.ByDate.Reverse }}
                {{ .Render "page_overview" }}
                {{ end }}
</div>
{{ else }}
<div class="apology">
    <p>Unfortunately, there is nothing to see here. Check back soon!</p>
</div>
{{ end }}

{{ end }}
