<div class="page-overview">
    <div>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <span class="date">{{.Date | dateFormat "Monday, Jan 2, 2006"}}</span></h2>
        {{ .Summary }}
    </div>
    {{ if .Truncated }}
    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
    <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
</div>
