{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="">
  <a href="{{ .Site.BaseURL  }}" class="">{{ .Site.Title }}</a>
  <section id="main" class="">
    <div>
      <ul id="list" class="">
        {{ range .Pages }}
        {{ if ne .Title "" }}
        <li class="">
          <a class="" href="{{ .Permalink}}">{{ .Title }}</a>
          <span class=""><em>last seen</em> {{ .Lastmod.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
