/* from http://demo.thi.ng/org-spec/ */

.highlight>pre.src-sh:before {
    content: 'sh';
}
.highlight>pre.src-bash:before {
    content: 'bash';
}
.highlight>pre.src-emacs-lisp:before {
    content: 'Emacs Lisp';
}
.highlight>pre.src-R:before {
    content: 'R';
}
.highlight>pre.src-org:before {
    content: 'Org';
}
.highlight>pre.src-cpp:before {
    content: 'C++';
}
.highlight>pre.src-c:before {
    content: 'C';
}
.highlight>pre.src-html:before {
    content: 'HTML'
}
.highlight>pre.src-js:before {
    content: 'Javascript'
}
.highlight>pre.src-javascript:before {
    content: 'Javascript'
}

// More languages from http://orgmode.org/worg/org-contrib/babel/languages.html

.highlight>pre.src-abc:before {
    content: 'ABC';
}
.highlight>pre.src-asymptote:before {
    content: 'Asymptote';
}
.highlight>pre.src-awk:before {
    content: 'Awk';
}
.highlight>pre.src-C:before {
    content: 'C';
}
.highlight>pre.src-calc:before {
    content: 'Calc';
}
.highlight>pre.src-clojure:before {
    content: 'Clojure';
}
.highlight>pre.src-comint:before {
    content: 'comint';
}
.highlight>pre.src-css:before {
    content: 'CSS';
}
.highlight>pre.src-D:before {
    content: 'D';
}
.highlight>pre.src-ditaa:before {
    content: 'Ditaa';
}
.highlight>pre.src-dot:before {
    content: 'Dot';
}
.highlight>pre.src-ebnf:before {
    content: 'ebnf';
}
.highlight>pre.src-forth:before {
    content: 'Forth';
}
.highlight>pre.src-F90:before {
    content: 'Fortran';
}
.highlight>pre.src-gnuplot:before {
    content: 'Gnuplot';
}
.highlight>pre.src-haskell:before {
    content: 'Haskell';
}
.highlight>pre.src-io:before {
    content: 'Io';
}
.highlight>pre.src-java:before {
    content: 'Java';
}
.highlight>pre.src-latex:before {
    content: 'LaTeX';
}
.highlight>pre.src-ledger:before {
    content: 'Ledger';
}
.highlight>pre.src-ly:before {
    content: 'Lilypond';
}
.highlight>pre.src-lisp:before {
    content: 'Lisp';
}
.highlight>pre.src-makefile:before {
    content: 'Make';
}
.highlight>pre.src-matlab:before {
    content: 'Matlab';
}
.highlight>pre.src-max:before {
    content: 'Maxima';
}
.highlight>pre.src-mscgen:before {
    content: 'Mscgen';
}
.highlight>pre.src-Caml:before {
    content: 'Objective';
}
.highlight>pre.src-octave:before {
    content: 'Octave';
}
.highlight>pre.src-org:before {
    content: 'Org';
}
.highlight>pre.src-perl:before {
    content: 'Perl';
}
.highlight>pre.src-picolisp:before {
    content: 'Picolisp';
}
.highlight>pre.src-plantuml:before {
    content: 'PlantUML';
}
.highlight>pre.src-python:before {
    content: 'Python';
}
.highlight>pre.src-ruby:before {
    content: 'Ruby';
}
.highlight>pre.src-sass:before {
    content: 'Sass';
}
.highlight>pre.src-scala:before {
    content: 'Scala';
}
.highlight>pre.src-scheme:before {
    content: 'Scheme';
}
.highlight>pre.src-screen:before {
    content: 'Screen';
}
.highlight>pre.src-sed:before {
    content: 'Sed';
}
.highlight>pre.src-shell:before {
    content: 'shell';
}
.highlight>pre.src-shen:before {
    content: 'Shen';
}
.highlight>pre.src-sql:before {
    content: 'SQL';
}
.highlight>pre.src-sqlite:before {
    content: 'SQLite';
}
.highlight>pre.src-stan:before {
    content: 'Stan';
}
.highlight>pre.src-vala:before {
    content: 'Vala';
}
.highlight>pre.src-axiom:before {
    content: 'Axiom';
}
.highlight>pre.src-browser:before {
    content: 'HTML';
}
.highlight>pre.src-cypher:before {
    content: 'Neo4j';
}
.highlight>pre.src-elixir:before {
    content: 'Elixir';
}
.highlight>pre.src-request:before {
    content: 'http';
}
.highlight>pre.src-ipython:before {
    content: 'iPython';
}
.highlight>pre.src-kotlin:before {
    content: 'Kotlin';
}
.highlight>pre.src-Flavored Erlang  lfe:before {
    content: 'Lisp';
}
.highlight>pre.src-mongo:before {
    content: 'MongoDB';
}
.highlight>pre.src-prolog:before {
    content: 'Prolog';
}
.highlight>pre.src-rec:before {
    content: 'rec';
}
.highlight>pre.src-ML  sml:before {
    content: 'Standard';
}
.highlight>pre.src-Translate  translate:before {
    content: 'Google';
}
.highlight>pre.src-typescript:before {
    content: 'Typescript';
}
.highlight>pre.src-rust:before {
    content: 'Rust';
}
