figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em 0;
}

.highlight {
    margin: 2em auto;
    border: 3px solid colour(brand-accent-b); 
}

.src-block-caption {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
