#brand-logo {
    display:inline;
    fill:none;
    stroke: colour(brand-colour);
    stroke-width:6px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
}

#name-logo {
    stroke-width: 4px;

    .brand {
        stroke: colour(brand-colour);
    }

    .accent-a {
        stroke: colour(brand-accent-a);
    }

    .accent-b {
        stroke: colour(brand-accent-b);
    }

    .link {
        stroke: colour(brand-link-a);
    }
}
