.org-todo {
    font-size: 0.8em;
    padding: 0.2em;

    &.todo {
        color: colour(todo-colour);
        border: 1px solid colour(todo-colour);
    }

    &.done {
        border: 1px solid colour(done-colour);
        color: colour(done-colour);
    }
}
