table {
  border: 1px solid colour(brand-accent-b);
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid colour(foreground);
  padding: 0.5em;
}
table tr:nth-child(even) {
  background: colour(background);
}
table thead {
  background: colour(brand-accent-b);
  border-bottom: 0px solid colour(brand-accent-b);
}

table thead tr {
    background: none;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: colour(foreground);
  text-align: center;
  border-left: 0px solid colour(brand-accent-b);
  background: none;
}
table thead th:first-child {
  border-left: none;
}
