<header>
    <div id="header-left">
        <a href ="{{ .Site.BaseURL }}">
            {{ partial "logo.html" }}
        </a>
    </div>
    <div id="header-centre">
        <a href="{{ .Site.BaseURL }}">
            {{ partial "name-logo.html" }}
        </a>
    </div>
    <div id="header-right">
        <div id="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}"><i class="{{ .Pre }}"></i> {{ .Name }}</a>
            {{ end }}
        </div>
        <a href="javascript:void(0);" class="navToggle" onclick="toggleNavigation()">
            <i class="fas fa-bars" id="nav-toggle-symbol"></i>
        </a>
        <a href="javascript:void(0);" class="colour-mode-switch" onclick="toggleColourMode()">
            <i id="colour-mode-switch-label" class="fas"></i>
        </a>
    </div>
</header>
