<svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    preserveAspectRatio="xMidYMid meet"
    viewBox="115.20678653819023 162.23820176152051 430.09641941880915 79.10018329421689" id="name-logo">
    <defs>
        <path d="M159.63 163.24C159.63 196.6 159.63 215.13 159.63 218.84C159.63 218.84 159.63 237.37 137.92 237.37C116.21 237.37 116.21 218.84 116.21 218.84C116.21 218.84 116.21 218.84 116.21 218.84" id="a24tNw4kzQ"/>
        <path d="M217.35 237.37L217.35 178.77L275.96 237.37L275.96 178.77L275.96 178.77" id="h1MjQA6Beo"/>
        <path d="M483.69 237.37L483.69 178.77L542.3 237.37L542.3 178.77L542.3 178.77" id="cCAGcaA4l"/>
        <path d="M275.96 238.07L305.59 180.3L335.22 238.07L335.22 238.07" id="b6lQoJeRbO"/>
        <path d="M290.37 209.86L320 209.86" id="d6LYmoZyo"/>
        <path d="M424.43 238.34L454.06 180.56L483.69 238.34L483.69 238.34" id="a2l1vNM62l"/>
        <path d="M439.25 209.45L468.88 209.45" id="d1SOttMfRE"/>
        <path d="M365.13 180.56L365.13 238.34L365.13 209.45L424.43 209.45L424.43 238.34L424.43 180.56L424.43 209.45" id="aOurD7w5a"/>
        <path d="M217.35 207.72C217.35 224.09 204.42 237.37 188.49 237.37C172.57 237.37 159.63 224.09 159.63 207.72C159.63 191.35 172.57 178.07 188.49 178.07C204.42 178.07 217.35 191.35 217.35 207.72Z" id="mCa3OGPra"/>
        <path d="M364.9 180.56C355.22 180.56 335.86 180.56 306.82 180.56" id="bcdx5muXR"/>
        <path d="M335.22 238.07L335.22 180.3" id="b3xRCESPij"/>
    </defs>
    <g>
        <g>
            <g>
                <use xlink:href="#a24tNw4kzQ" opacity="1" fill-opacity="0" class="brand" stroke-opacity="1"/>
            </g>
        </g>
        <g>
            <g>
                <use xlink:href="#mCa3OGPra" opacity="1" fill-opacity="0" class="accent-a" stroke-opacity="1"/>
            </g>
        </g>
        <g>
            <g>
                <use xlink:href="#h1MjQA6Beo" opacity="1" fill-opacity="0" class="accent-b" stroke-opacity="1"/>
            </g>
        </g>
        <g class="link">
            <g>
                <use xlink:href="#b6lQoJeRbO" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
            <g>
                <use xlink:href="#d6LYmoZyo" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
        </g>
        <g class="brand">
            <g>
                <use xlink:href="#b3xRCESPij" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
            <g>
                <use xlink:href="#bcdx5muXR" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
        </g>
        <g>
            <g>
                <use xlink:href="#aOurD7w5a" opacity="1" fill-opacity="0" class="accent-a" stroke-opacity="1"/>
            </g>
        </g>
        <g class="accent-b">
            <g>
                <use xlink:href="#d1SOttMfRE" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
            <g>
                <use xlink:href="#a2l1vNM62l" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
        </g>
        <g class="link">
            
            <g>
                <use xlink:href="#cCAGcaA4l" opacity="1" fill-opacity="0" stroke-opacity="1"/>
            </g>
        </g>
    </g>
</svg>
