<script src="https://kit.fontawesome.com/bb524adb90.js" crossorigin="anonymous"></script>
{{ $main_script := resources.Get "js/main.js" | minify | fingerprint }}
{{ $prism_script := resources.Get "js/prism.js" | minify | fingerprint }}
<script src="{{$main_script.Permalink}}"></script> 
<script src="{{$prism_script.Permalink}}"></script> 
