{{ define "main" }}

<div class="introduction">
{{ .Content }}
</div>

{{ if (.Site.GetPage "section" "blog").Pages }}
<div class="post-section" id="blog-posts">

    {{ with (.Site.GetPage "section" "blog") }}
    <h3><a href="{{.RelPermalink}}">Blog Posts</a></h3>
    {{ range first 3 .Paginator.Pages }}
    {{ .Render "page_overview" }}
    {{ end }}
    {{ end }}
</div>
{{ end }}

<div class="post-section" id="projects">
    {{ with (.Site.GetPage "section" "projects") }}
    <h3><a href="{{.RelPermalink}}">Projects</a></h3>
    {{range first 3 .Paginator.Pages}}
    {{ .Render "page_overview" }}
    {{end}}
    {{ end }}
</div>
{{ end }}
