// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1em;

    border-bottom: 1px solid colour(brand-colour);
    margin-bottom: 1em;

    .active {
        color: colour(brand-accent-a);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        margin: 0 1em;
    }

    .colour-mode-switch {
        margin-left: 0.5em;
    }

    #header-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
    }

    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-width: 320px;
        border-right: 1px solid colour(foreground);
    }

    .navToggle {
        display: none;
    }



    @include breakpoint(md) {

        #header-right {

            #menu {
                display: none;
            }

            #menu.responsive {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                position: absolute;
                top: 5.4em;
                left: 0;
                right: 0;
                padding: 1em;

                border-bottom: 1px solid colour(foreground);
                border-right: none;
            }

            .navToggle {
                display: block;
            }
        }

        #header-centre {
            display: none;
        }

    }

    #header-left {
        flex: 1;
        svg {
            height: 3em;
            width: 3em;
        }
    }

    #header-centre {
        flex: 0;
        svg {
            width: 15em;
        }
    }
}
